.message-form {
    background-color: #F3F3F3;
    max-height: 80px;
    margin-bottom: 1px;
  textarea {
    width: 80%;
   
    border: 2px solid #C5C8C8;

    border-radius: 4px;
    outline: none;
    margin-bottom: 0.6%;
    
  }
}